@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override default Next.js dark mode styles
  Hapus semua konten default dan ganti dengan reset dasar ini
*/

:root {
  --foreground-rgb: 11, 18, 32;
  --background-start-rgb: 246, 248, 250;
  --background-end-rgb: 246, 248, 250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* Memastikan tidak ada transisi warna saat user mengganti mode di device */
* {
  transition: none !important;
}
