@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hyundai-primary: #012C68;
  --hyundai-light: #F6F8FA;
  --hyundai-dark: #0B1220;
}

/* Paksa Background agar tidak putih polos */
body {
  background-color: var(--hyundai-light) !important;
  color: var(--hyundai-dark) !important;
}

/* Mematikan efek dark mode bawaan browser */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #F6F8FA !important;
    color: #0B1220 !important;
  }
}
